# Exact ESM2 setting used in this work:
# fair-esm==2.0.0
# pretrained model: esm2_t12_35M_UR50D

torch==2.9.1
fair-esm==2.0.0
numpy==2.2.6
pandas==2.3.3
scipy==1.15.3
networkx==3.4.2
scikit-learn==1.7.2
biopython==1.86
tqdm>=4.66
openpyxl>=3.1
